.header-wrapper {
  --header-max-width: 1600px;

  position: relative;
  padding-top: 2rem;
  background-color: #fff;
  overflow: visible;
  box-sizing: border-box;

  .header-nav__primary {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-family: 'Futura PT medium', sans-serif;

    .header-nav__logo {
      display: block;
      position: absolute;
      text-decoration: none;
      z-index: 30;
      width: 60px;
      height: 28px;
      margin: 0 32px 20px 40px;

      svg {
        width: 100%;
        height: 100%;
        fill: #000;
      }
    }
    .header-nav__primary-wrapper {
      width: 100%;
      .header-nav__link-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 8.75em;
        padding-right: 2.5em;
        list-style: none;
      }

      .header-nav__link-list .header-nav__link-list__item:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      .header-nav__link-list__item {
        margin: 0 0.3125em;
        padding: 0 0.625em;

        a {
          color: #000;
          font-size: 2rem;
          line-height: 1.5;
          text-decoration: none;
        }
      }
      .header-nav__more-button {
        position: relative;
        color: var(--color-text-link-secondary);
        background-color: var(--vt-c-white);
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          font-size: 2rem;
        }

        .more__plus {
          position: inherit;
          width: 18px;
          height: 18px;
          margin-left: 5px;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 16px;
            transform: translate(-50%, -50%);
            background-color: var(--color-text-link-secondary);
          }

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            width: 1px;
            height: 16px;
            background-color: var(--color-text-link-secondary);
          }
        }
      }
      .try {
        margin-left: auto;

        a {
          color: var(--color-text-link-primary);
        }
      }
      .login {
        padding-right: 0;
        margin-right: 0;

        a {
          font-size: 1.6rem;
        }
      }
    }

    .header-nav__button {
      display: none;
    }

    .header-nav__more {
      display: none;
    }
  }

  .header-nav__separator {
    width: 100%;
    height: 0;
    border-top: 2px solid var(--color-nav-separator);
  }

  .header-nav__secondary {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;

    .header-nav__link-list--secondary {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding: 0;
      list-style: none;

      .header-nav__link-list__item {
        margin: 0 0.625em;
        padding: 0 0.625em;

        a {
          text-decoration: none;
          color: var(--vt-c-black);
          font-size: 1.6rem;
        }
      }
      .header-nav__link-list__item:first-child a {
        color: var(--color-text-link-secondary);
      }

      .header-nav__link-list__item:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      .header-nav__link-list__item:last-child {
        margin-right: 0;
        padding-right: 0;
      }
    }
  }

  .header-nav__secondary--wrapper {
    width: 100%;
    position: relative;

    .header-nav__secondary.sticky {
      position: fixed;
      display: block;
      top: 0;
      max-width: var(--header-max-width, 100%);
      z-index: 100;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (max-width: 128rem) {
  .header-wrapper {
    .nav-list {
      .header-nav__logo {
        margin: 0 32px 20px 20px;
      }
    }
  }
}
